.background {
	position: fixed;
	width: 100%;
}


.header {
	color: white;
	font-family: 'akzidenz-boldextended';
	text-align: center;
	position: relative;
	top: 120px;

	.header-icon {
		--icon-width: 350px;
		width: var(--icon-width);
		left: calc(50% - var(--icon-width)/2);
	}

	h1 {
		font-size: 20px;
		margin-top: -10px;
		position: relative;
		span {
			position: relative;
			top: -2px;
			font-family: 'japuna';
			font-size: 21px;
		}
	}
}
