.item-container {
    position: relative;
    width: 330px;
    margin: 40px;
    cursor: pointer;
}
.item {
    &-name {
        color: white;
        font-family: 'iron-shark';
        transform: rotate(90deg);
        width: 600px;
        margin: 0;
        position: absolute;
        top: 282px;
        left: 17px;
    }
    &-cover-image {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    &-price-container {
        display: flex;
        height: 40px;
    }
    &-price {
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        font-family: 'normal';
        font-size: 20px;
    }
    &-ada-logo {
        width: 30px;
        filter: saturate(0) brightness(100);
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
}
