<div class="navbar">
    <img class="menu-icon" src="assets/menu.png" alt="" (click)="toggleSideMenu()">
    <div class="navbar-item navbar-top" routerLink="music">
        <h1>MUSIC</h1>
    </div>
    <img class="navbar-divisor" src="assets/divisor.png" alt="">
    <div class="navbar-item navbar-top" (click)="go_to_youtube()">
        <h1>VIDEOS</h1>
    </div>
    <img class="top-logo" src="assets/logo.png" alt="" (click)="scrollToTop()" routerLink="/">
    <div class="navbar-item navbar-top" (click)="scrollToShop()">
        <h1>SHOP</h1>
    </div>
    <img class="navbar-divisor" src="assets/divisor.png" alt="">
    <div class="navbar-item navbar-top" routerLink="about">
        <h1>ABOUT</h1>
    </div>
    <img class="bag-icon" src="assets/bag.png" [routerLink]="[ '/', { outlets: { view: 'bag' } } ]" >
</div>

<div class="side-navbar" [class]="isSideMenuOpen ? 'open': ''">
    <div class="navbar-item" routerLink="music">
        <h1>MUSIC</h1>
    </div>
    <div class="navbar-item" (click)="go_to_youtube()">
        <h1>VIDEOS</h1>
    </div>
    <div class="navbar-item" href="#shop" (click)="scrollToShop()">
        <h1>SHOP</h1>
    </div>
    <div class="navbar-item" routerLink="about">
        <h1>ABOUT</h1>
    </div>
</div>
<div class="side-navbar-scrim" [class]="isSideMenuOpen ? 'open': ''" (click)="toggleSideMenu()"></div>

<router-outlet></router-outlet>
<router-outlet name="view"></router-outlet>
