@import '~src/globals';

:host {
    display: block;
    height: 100vh;
}

.panel {
    margin-top: $navbar_height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - #{$navbar-height});
    transition: .5s;
    width: 50%;

    &:hover {
        cursor: pointer;
    }

    & > .videos {
        filter: saturate(0);
    }
    &:hover > .videos {
        opacity: 0.7;
        filter: saturate(.7);
    }

    &-left {
        float: left;
    }

    &-right {
        float: right;
    }

    &-headers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        color: white;
    }

    &-header {
        font-family: 'gameplay';
        font-size: 4vw;
        margin: 0;
    }

    &-subheader {
        font-family: 'condensed';
        font-size: 1.2vw;
        margin: 0;
        color: $green_color;
        transition: color .5s;
    }
    &-right .panel-subheader {
        text-align: right;
    }

    &:hover .panel-subheader {
        color: white;
    }
}

.videos {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.4;
    transition: opacity .5s;
}

@media screen and (max-width: 1080px) {
    .panel {
        &-left {
            width: 100%;
            float: left;
        }

        &-right {
            width: 100%;
            float: right;
        }

        &-header {
            font-size: 7vw;
        }

        &-subheader {
            font-size: 2.1vw;
        }
    }
}
