.header {
	position: relative;
	text-align: center;
	z-index:2;
	font-family: 'iron-shark';
	color: white;
	font-size: 50px;
	margin: 40px;
}
.shop-body {
	width: 100%;
	display: flex;
	justify-content: center;
}
.items-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 90vw;
}
