<div class="back-scrim" (click)="closeModal()"></div>

<div class="container">
	<img class="product-cover-image" src="{{ product.img }}" alt="">
	<div class="details">
		<h1>{{ product.name }}</h1>
		<h2>{{ product.price }}</h2>
		<h2>{{ product.description }}</h2>
		<h2>Size:</h2>
		<div class="size-selector">
			<input type="radio" name="size" value="S" data-value="S">
			<input type="radio" name="size" value="M" data-value="M">
			<input type="radio" name="size" value="L" data-value="L">
			<input type="radio" name="size" value="XL" data-value="XL">
		</div>
	</div>
</div>

