<div class="back-scrim" (click)="closeModal()"></div>

<div class="container">
	<img class="close-button" src="assets/divisor.png" alt="" (click)="closeModal()">
	<img class="product-cover-image" src="{{ product.img }}" alt="">
	<div class="details">
		<h1 class="product-name">{{ product.name }}</h1>
		<h2 class="product-price">{{ product.price }}€</h2>
		<h2 class="product-description">{{ product.description }}</h2>
		<h3 class="">Size:</h3>
		<div class="size-selector">
			<input type="radio" name="size" value="S"  data-value="S"  [(ngModel)]="option">
			<input type="radio" name="size" value="M"  data-value="M"  [(ngModel)]="option">
			<input type="radio" name="size" value="L"  data-value="L"  [(ngModel)]="option">
			<input type="radio" name="size" value="XL" data-value="XL" [(ngModel)]="option">
		</div>
		<div *ngIf="error"><p class="error-message">Please select a size.</p></div>
		<button class="add-button" (click)="addToBag(product)">ADD TO BAG</button>
	</div>
</div>

