<div class="panel panel-left">
    <video class="videos" src="assets/1.mp4" type="video/mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
    <div class="panel-headers">
        <h1 class="panel-header">NEW MUSIC</h1>
        <h2 class="panel-subheader">WATCH NOW, V!</h2>
    </div>
</div>

<div class="panel panel-right" (click)="scrollToShop()">
    <video class="videos" src="assets/2.mp4" type="video/mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
    <div class="panel-headers">
        <h1 class="panel-header">SHOP NOW</h1>
        <h2 class="panel-subheader">GET YOUR ARMOR!</h2>
    </div>
</div>
