@import '~src/globals';

body, html {
  height: 100%;
  background-color: $dark_color;
  margin: 0;
}

@font-face {
    font-family: 'normal';
    src: url("assets/fonts/AkzidenzGrotesk-LightExtended.otf");
}
@font-face {
    font-family: 'extended';
    src: url("assets/fonts/AkzidenzGrotesk-Extended.otf");
}
@font-face {
    font-family: 'condensed';
    src: url("assets/fonts/AkzidenzGrotesk-Cond.otf");
}
@font-face {
    font-family: 'gameplay';
    src: url("assets/fonts/Gameplay.ttf");
}

