body, html {
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: 'akzidenz-boldextended';
    src: url("assets/fonts/AkzidenzGrotesk-BoldExtended.otf");
}
@font-face {
    font-family: 'franklin-medium';
    src: url("assets/fonts/Franklin Gothic Medium Regular.ttf");
}
@font-face {
    font-family: 'japuna';
    src: url("assets/fonts/kozuka-gothic-pr6n-b.otf");
}

