body, html {
  height: 100%;
  background-color: #0A0A0A;
  margin: 0;
}

@font-face {
    font-family: 'normal';
    src: url("assets/fonts/AkzidenzGrotesk-LightExtended.otf");
}
@font-face {
    font-family: 'iron-shark';
    src: url("assets/fonts/Iron-Shark.otf");
}

