
.page-bg {
    background-image: url("/assets/1.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    --banner-height: 100px;
    --banner-color: rgba(0,0,0,.7);

    position: absolute;
    top: calc(50% - var(--banner-height)/2 );
    width: 100%;
    height: var(--banner-height);
    background-color: var(--banner-color);

    &-list {
        position: absolute;
        top: 40%;

        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &-list-link {
        padding: 30px;
        font-size: 20pt;
        color: white;
        text-decoration: none;
        transition: .3s;
    }
}
