#page-bg {
    background-image: url("^assets/1.jpg");
    transition: background-image 0.2s ease-in-out;

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    --banner-height: 80px;
    --banner-color: rgba(0,0,0,.7);

    position: absolute;
    top: calc(50% - var(--banner-height)/2 );
    width: 100%;
    height: var(--banner-height);
    background-color: var(--banner-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
        height: 100%;
        width: 230px;
        cursor: pointer;
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        padding-right: 70px;
        padding-left: 20px;

        color: white;
        font-family: 'akzidenz-boldextended';
        transition: background-color .3s;

        h1 {
            font-size: 22pt;
            margin: 0;
            position: relative;
            top: 4px;
            span {
                position: relative;
                top: -2px;
                font-family: 'japuna';
                font-size: 18pt;
            }
        }

        span {
            font-family: 'franklin-medium';
            position: relative;
            top: -8px;
            font-size: 10pt;
        }

        &:hover.music {
            background-color: #40af51;
        }
        &:hover.clips {
            background-color: #5356e7;
        }
        &:hover.store {
            background-color: #e94040;
        }
        &:hover.about {
            background-color: #3b4e9c;
        }
    }
}
