// .videos {
//  position: fixed;
//  overflow: hidden;
//  height: 100%;
//  min-width: 100%;
//  min-height: 56.25vw; /* 100 * 9 / 16 */
//  left: 50%; /* % of surrounding element */
//  top: 50%;
//  transform: translate(-50%, -50%); /* % of current element */
//  background-color: black !important;
//  opacity: 0;
//  transition: opacity 1s;
//  &.display-video {
//      opacity: 1;
//  }
// }

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 5vw;
        margin-left: 5vw;

        color: white;
        font-family: 'normal';
        font-size: 8pt;
    }

    &-divisor {
        width: 50px;
    }
}

.top-logo {
    width: 240px;
}

@media screen and (max-width: 1080px) {
    .navbar{
        &-item {
            display: none;
        }
        &-divisor {
            display: none;
        }
    }
}
