<div class="navbar">
    <img class="menu-icon" src="assets/menu.png" alt="" (click)="toogleSideMenu($event)">
    <div class="navbar-item navbar-top" routerLink="music">
        <h1>MUSIC</h1>
    </div>
    <img class="navbar-divisor" src="assets/divisor.png" alt="">
    <div class="navbar-item navbar-top" (click)="go_to_youtube()">
        <h1>VIDEOS</h1>
    </div>
    <img class="top-logo" src="assets/logo.png" alt="">
    <div class="navbar-item navbar-top" routerLink="shop">
        <h1>SHOP</h1>
    </div>
    <img class="navbar-divisor" src="assets/divisor.png" alt="">
    <div class="navbar-item navbar-top" routerLink="about">
        <h1>ABOUT</h1>
    </div>
</div>

<div class="side-navbar">
    <div class="navbar-item" routerLink="music">
        <h1>MUSIC</h1>
    </div>
    <div class="navbar-item" (click)="go_to_youtube()">
        <h1>VIDEOS</h1>
    </div>
    <div class="navbar-item" routerLink="shop">
        <h1>SHOP</h1>
    </div>
    <div class="navbar-item" routerLink="about">
        <h1>ABOUT</h1>
    </div>
</div>
<div class="side-navbar-scrim" (click)="toogleSideMenu($event)"></div>

<div class="panel panel-left">
    <video class="videos" src="assets/1.mp4" type="video/mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
    <div class="panel-headers">
        <h1 class="panel-header">NEW MUSIC</h1>
        <h2 class="panel-subheader">MOTOR - OUT NOW</h2>
    </div>
</div>

<div class="panel panel-right">
    <video class="videos" src="assets/2.mp4" type="video/mp4" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
    <div class="panel-headers">
        <h1 class="panel-header">SHOP DVART</h1>
        <h2 class="panel-subheader">OUTWEAR - ACCESSORIES - SHIRTS</h2>
    </div>
</div>

<img *ngIf="isScrollArrowShown" class="scroll-arrow" src="assets/arrow.png" alt="">
